body {
	margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: auto;
  color: rgb(224,224,224);
	background: #000000;
}

#wallpaper {
    position: fixed;
    top: -1%;
    right: 2%;
  }

/*.slidershow{
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
}

.navigation{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slidershow{
    width: 650px;
    height: 430px;
    overflow: hidden;
    position: absolute;
    top: 49%;
    left: 24.3%;
    transform: translate(-50%,-50%);
  }
  
  .navigation{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .bar{
    width: 50px;
    height: 13px;
    border: 1px solid #fff;
    margin: 5px;
    cursor: pointer;
    transition: 0.4 s;
    background-color: transparent;
  }
  
  .bar:hover{
    background-color: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
*/

.see {
  size: 3333%;
}

a:hover {
  color: rgb(170, 26, 24);
}

a:link {
  color: rgb(224,224,224);
}

p {
  width: 45%;
  word-break: normal;
  font-family:Arial, Helvetica, sans-serif;
  padding: 1%;
  font-size: 115%;
}

button {
  opacity: 0.6;
  background: none;
  border: none;
  color: white;
}

buttone:hover {
  color: rgb(170, 26, 24)
}

.more {
  display: none;
}

.hs-table {
  position: absolute;
  height: 30%;
  border: white 1px;
  top: 7%;
  left: 7%;
  bottom: 12%;
}