body{
    /*max-width: 100%;
    overflow-y: hidden;*/
    overflow-x: hidden;
}

a:hover {
    color: rgb(170, 26, 24);
}

a:link {
    color: rgb(224,224,224);
}

.back-img {
    position: fixed;
    right: 5%;
    top: -15%;
    width: 38%;
}

.quote {
    position: fixed;
    top: 39%;
    left: 6%;
}

.table-quote {
    width: 100%;
    border: 0px solid white;
    padding-left: 5%;
    padding-top: 18%;
    padding-bottom: 18%;
}   

.text-top, #id-text-top {
    position: relative;
    font-size: 116%;
    animation-name: textTop; 
    animation-delay: 0.6s;
    animation-duration: 1.5s;
    -webkit-animation-name: textTop;
    -webkit-animation-delay: 0.6s;
    -webkit-animation-duration: 1.5s;
}

#id-text-bottom {
    position: absolute;
    top: 50%;
    opacity: 0;
    animation-name: textBottom;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
    -webkit-animation-name: textBottom;
    -webkit-animation-delay: 0.6s;
    -webkit-animation-duration: 1.5s;
}

@keyframes textTop {
    0% {opacity: 1; top: 0%}
    100% {opacity: 1; top:-20%}
}

@-webkit-keyframes textTop {
    0% {opacity: 1; top: 0%}
    100% {opacity: 1; top:-20%}
}

@keyframes textBottom {
    0% {opacity: 0; top: 0%;}
    36% {opacity: 0;}
    100% {opacity: 1; top: 90%;}
}

@-webkit-keyframes textBottom {
    0% {opacity: 0; top: 0%;}
    36% {opacity: 0;}
    100% {opacity: 1; top: 90%;}
}

