#wallpaper {
  position: fixed;
  top: 0%;
  right: 0%;
}

body {
	margin: 0;
	padding: 0;
	background: #000000;
}

.slidershow{
  width: 650px;
  height: 430px;
  overflow: hidden;
  position: absolute;
  top: 49%;
  left: 24.3%;
  transform: translate(-50%,-50%);
}

.navigation{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar{
  width: 50px;
  height: 13px;
  border: 1px solid #fff;
  margin: 5px;
  cursor: pointer;
  transition: 0.4 s;
  background-color: transparent;
}

.bar:hover{
  background-color: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}